*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: beige;
    
}
body{
    text-align: center;
}
.container{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 1em;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;;
    justify-content: center;
}

.nepalMap,.province{
    width: 40%;
}

h2{
    font-size: 1.5rem;;
}




img{
    width: 100%;
    border: 2px solid black;
}

@media (max-width:420px) {
    .nepalMap,.province{
        width: 100%;
    }
}